{% extends "store/base.html" %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block head %}
    <link href="{% static "css/about_company.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <main>
        <h1>About company</h1>
        <p><dfn translate="no" class="company-name"> Toy store</dfn> - a young company specializing in the
            sale of toys</p>
        <h2>Company videos</h2>
        <iframe class="video" width="560" height="315"
                src="https://www.youtube.com/embed/ITXVIK8KZuI?si=YFVb2CT2tzrblCA3"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
        gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
        <h2>History by year</h2>
        <ul class="history">
            {% for event in history %}
                <li class="history-item">
                    <p class="history-year">{{ event.year }}</p>
                    <p class="history-description">{{ event.event }}</p>
                </li>
            {% endfor %}
        </ul>

        <h2>Requisites</h2>
        <section>
            <p class="requisite">МТС: +375 (33)3-653-488</p>
            <p class="requisite">email: koooosmppp@gmail.com</p>
        </section>
        <h2>Logo</h2>
        <img class="logotip" src="../../../../media/logos/Logo.png" title="Логотип компании" height="200" width="200">
        <h2>Certificate</h2>
        <section class="sertificate">
            <h3>Сертификат</h3>
            <p>ООО «Приносим радость»</p>
            <p>Юридический адрес: 220073, Республика Беларусь, г. Минск, ул. Якуба Коласа, д. 24, кв. 24, каб. 2</p>
            <p>УНП 823667313</p>
            <p>Адрес для почтовых отправлений: 654112, а/я 166.</p>
            <p>Свидетельство о государственной регистрации №823667313 от 13 апреля 2017 г. выдано Минским
                горисполкомом</p>
            <p>Зарегистрировано Министерством информации Республики Беларусь 11 мая 2017 г. в Государственном реестре
                изготовителей и распространителей бытовой химии изданий Республики Беларусь в качестве распространителя
                бытовой химии за №3/1656</p>
            <p>Зарегистрирован в Торговом реестре Республики Беларусь 31 мая 2017 г. за №416870</p>
        </section>
    </main>
{% endblock %}
