{% extends "store/base.html" %}
{% load static %}
{% block title %}Articles{% endblock %}
{% block content %}
    <article class="articles_page">
        <h1>Articles</h1>
        <ul>
            {% for article in articles %}
            <li>
                <h1>{{ article.title }}</h1><br />
                <h3>{{ article.summury }}</h3><br />
                <img src="{{article.image.url}}" alt="article image" style="max-width: 500px;"><br />
                <a href="/articles/article/{{article.pk}}">Read more</a>
            </li>
            {% empty %}
            <li>No articles yet.</li>
            {% endfor %}
        </ul>
    </article>
{%  endblock%}