{% extends "store/base.html" %}
{% load static %}

{% block title %}Contacts{% endblock %}

{% block head %}
    <link href="{% static "css/contacts.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <h2>Workers info</h2>
    <section class="workers-list">
    {% for employee in employees %}
        <section class="worker">
            <img class="worker-img" src = "{{ employee.photo.url }}" width="200" height="200" title="Фото сотрудника">
            <p>{{ employee.first_name }} {{ employee.last_name }}</p>
            <p>Position: {{ employee.position }}</p>
            <p>Phone number: {{ employee.phone_number }}</p>
        </section>
    {% endfor %}
    </section>
</main>
{% endblock %}