{% extends "store/base.html" %}
{% load static %}
{% block title %}Glossary{% endblock %}
{% block head %}
    <link href="{% static "css/frequently_questions.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<main>
    <h2>Popular question</h2>
    {% for faq in faqs %}
        <details>
            <summary>
                <p class="title">{{ faq.question }}</p>
                <p class="date">{{ faq.date_added|date }}</p>
            </summary>
            <p>{{ faq.answer }}</p>
        </details>
        <p></p>
    {% endfor %}
</main>
{% endblock %}