{% extends "store/base.html" %}
{% load static %}

{% block title %}Coupons{% endblock %}

{% block head %}
    <link href="{% static "css/coupons.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <h2>Coupons</h2>
    <h3>Active</h3>
    <ul class="active-list">
        {% for valid in valid_promocodes %}
        <li>
            <p>Code: {{ valid.code }}</p>
        </li>
        {% endfor %}
    </ul>

    <hr><h3>Archived</h3>
    <ul class="deactive-list">
        {% for expired in expired_promocodes %}
        <li>
            <p>Code: {{ expired.code }}</p>
        </li>
        {% endfor %}
    </ul>

</main>
{% endblock %}