{% extends "store/base.html" %}
{% load static %}

{% block head %}
    <link href="{% static "css/create_review.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <form method="post" class="form-container">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div>
            <label  for="{{ form.reviewer.id_for_label }}">Reviewer name:</label>
            {{ form.reviewer }}
            {{ form.reviewer.errors }}
        </div>
        <div>
            <label for="{{ form.rate.id_for_label }}">Rate:</label>
            {{ form.rate }}
            {{ form.rate.errors }}
        </div>
        <div>
            <label for="{{ form.text.id_for_label }}">Review text:</label>
            {{ form.text }}
            {{ form.text.errors }}
        </div>
        <input type="submit" value="review"/>
    </form>
{% endblock %}