{% extends "store/base.html" %}
{% load static %}
{% block content %}
<h1>Vacancies</h1>
<ul>
    {% for vacancy in vacancies %}
    <li>
        <a href="/vacancy/{{vacancy.pk}}">
            <h1>Position: {{ vacancy.position }}</h1>
        </a>
        <h2>Salary: {{ vacancy.salary }}</h2>
        <p>Company name: {{ vacancy.company_name }}</p>
        {{ vacancy.experience }} | {{ vacancy.city }}
        <br />
        <br />
    </li>
    {% empty %}
    <li>No vacancies yet.</li>
    {% endfor %}
</ul>

{% endblock %}