{% extends "store/base.html" %}
{% load static %}
{% block content %}
    <h2><b>Position: {{ vacancy.position }}</b></h2>
    <b>Salary: {{ vacancy.salary }}</b>
    <br/>
    Company: {{ vacancy.company_name }}
    <br/>
    City: {{ vacancy.city }}
    <br/>
    Nature of work: {{ vacancy.job_character }}
    <br/>
    Schedule: {{ vacancy.schedule }}
    <br/>
    Employment: {{ vacancy.employment }}
    <br/>
    <br/>
    <hr/>
    <h2>Requirements for a candidate</h2>
    Experience: {{ vacancy.experience }}
    <br/>
    Education: {{ vacancy.education }}
    <br/>
    <br/>
    <br/>

    Vacancy description:
    {{ vacancy.description }}
    <br/>
    <br/>
    <hr/>
{% endblock %}