{% extends "store/base.html" %}
{% load static %}
{% block title %}
{% if type %}{{ type.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div id="sidebar">
    <h3>Type</h3>
    <ul>
        <li {% if not type %}class="selected"{% endif %}>
            <a href="{% url 'store:product_list' %}">All</a>
        </li>
        {% for c in types %}
        <li {% if type.name == c.name %}class="selected" {% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div id="main" class="product-list">
    <h1>
        {% if type %}
        {{ type.name }}
        {% else %}
        Product
        {% endif %}
        {% if user.is_staff %}
        <a href="/create/">Create Product</a>
        {% endif %}
        <form action="{{ request.get_full_path }}" method="get">
            <button type="submit" name="sort" value="ascending">Сортировать по возрастанию</button>
            <button type="submit" name="sort" value="descending">Сортировать по убыванию</button>
        </form>
    </h1>
    {% for product in products %}
    <div class="item">
        <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static 'img/no_image.png' %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <br>
        {{ product.cost }}
    </div>
    {% endfor %}
</div>
{% endblock %}