.workers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.worker {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.worker-img {
    object-fit:contain;
    max-width: 100%;
    height: auto; 
}