<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
    </head>
    <body>
        <form action = "" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <ul class="errorlist">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit">Register</button>
        </form>
    </body>
</html>